body{
    margin: auto;
    background: #1d1d1f;
}

header{
    width: auto;
}

.directly-visible{
    display: block;
    position: relative;
    z-index: 0;
}

.navigation-bar{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.link{
    margin-right: 2em;
    border-radius: 25px;
    border: 2px solid white;
    display: flex;
    justify-content: center
}

.link:hover{
    border-radius: 25px;
    border: 2px solid #00d959;
    color: #00d959;
    transition-duration: 0.5s;
}

.back-to-top{
    width: 5%;
    position: fixed;
    z-index: 999;
    cursor: pointer;
    top: 90%;
    left: 95%;
    padding: 2em;
    --webkit-transform: translate(-50%, -50%);
    --moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    --o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.handwriting{
    stroke-dasharray: 2379.41650390625 ;
    stroke-dashoffset: 0;
    animation: 5s fillSvg linear infinite;
}

a{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.welcome-section{
    justify-content: center;
    padding-top: 7em;
    height: 35em;
}

@keyframes fillSvg {
    0%{
        stroke-dashoffset: 2379.41650390625 ;

    }
    100%{
        stroke-dashoffset: 0;
    }
}

.profil-picture{
    width: 30%;
    height: 30%;
    border-radius: 25px;
}

.greeting{
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.typewrite{
    font-family: 'Meow Script', cursive;
    font-size: 7em;
    background: linear-gradient(90deg,#ffffff, #00d959, #ffdc00);
    /*background: linear-gradient(#ff361b,#fff569,#ffa958,#fb5039,#fb3545,#ff6ba4,#ad31ff,#768aff,#60e6fd,#3cf87b);*/
    color: transparent;
    -webkit-background-clip: text;
}

.profile{
    background: #1d1d1f;
    padding-bottom: 7em;
}

.profil-relief-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 21px;
    color: darkorange;
    font-weight: bold;
    margin: 0;
}

.title-profil{
    color: white;
    margin-top: 0;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.top-profile-section{
    justify-content: center;
}

.handwriting-animation-wrapper{
    padding-top: 1em;
}

.pencil-draw{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}

.content-tiles{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 5em;
    justify-content: center;
}

.values{
    margin-right: 6em;
}

.values, .general-information{
    background: white;
    border-radius: 25px;
    padding: 1em;
    width: 30%;
    height: 40%;
    color: #1d1d1f;
}

.values h1, .general-information h1, .sport h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 3.5em;
}

.plus-symbol{
    width: 10%;
    cursor: pointer;
}

.plus-symbol:hover{
    transform: rotateZ(360deg);
    transition-duration: 0.5s;
}

.tile-text{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    display: none;
}

.relief-text{
    color: #00d959;
}

.passions{
    background: white;
    padding-bottom: 7em;
}

.title-passions{
    margin-top: 0;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.values{
    margin-right: 6em;
}

.sport, .less-important-passions{
    width: 30%;
    height: 40%;
    color: white;
}

.sport{
    background: #1d1d1f;
    margin-right: 2em;
    border-radius: 25px;
    padding: 1em;
}

.less-important-passions{
    justify-content: center;
}

.creation, .culture{
    background: #1d1d1f;
    border-radius: 25px;
    padding: 1em;
}

.creation h1, .culture h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom: 1.5em;
}

.creation{
    margin-bottom: 2em;
    height: 40%;
}

.content-tiles-experiences{
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
}

.experience{
    background: #1d1d1f;
    padding-bottom: 7em;
}

.important-experiences, .less-important-experiences{
    display: flex;
    justify-content: center;
}

.important-experiences{
    padding-bottom: 2em;
}

.nato-wargaming-initiative, .retail, .real-estate, .semester{
    background: white;
    border-radius: 25px;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.real-estate h1, .nato-wargaming-initiative h1, .semester h1, .retail h1{
    margin-top: 0;
}

.real-estate, .semester{
    margin-right: 1em;
}

.semester h1, .retail h1{
    font-size: 35px;
}

.retail{
    width: 41.3%;
    height: 20%;
}

.real-estate{
    width: 46.5%;
    height: 20%;
}

.know-more{
    border: 2px solid #1d1d1f;
    background: white;
    border-radius: 999px;
    text-align: center;
    cursor: pointer;
    margin:0 auto;
    display: block;

    color: #1d1d1f;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em;
}

.know-more:hover{
    color: white;
    border: 2px solid #1d1d1f;
    background: #1d1d1f;
}

.title-experience{
    color: white;
    margin-top: 0;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.accomplissements{
    background: white;
    padding-bottom: 7em;
}

.title-accomplissements{
    color: #1d1d1f;
    margin-top: 0;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.important-achievements, .less-important-achievements{
    display: flex;
    justify-content: center;
}

.important-achievements{
    padding-bottom: 2em;
}

.sales, .boy-scout, .cambridge, .trading-bot{
    background: #1d1d1f;
    border-radius: 25px;
    padding: 3em;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

.sales h1, .boy-scout h1, .cambridge h1, .trading-bot h1{
    color: white;
}

.sales h1, .cambridge h1{
    font-size: 35px;
}

.trading-bot, .sales{
    margin-right: 1em;
}

.boy-scout{
    width: 40%;
    height: 20%;
}

.sales{
    width: 41.4%;
    height: 20%;
}

.know-more-white{
    border: 2px solid white;
    background: #1d1d1f;
    border-radius: 999px;
    text-align: center;
    cursor: pointer;

    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em;
}

.know-more-white:hover{
    color: #1d1d1f;
    border: 2px solid white;
    background: white;
}

.back-content-real-estate, .back-content-trading-bot, .back-content-otan, .back-content-sales, .back-content-semester, .back-content-retail, .back-content-boy-scout, .back-content-cambridge, .back-content-values, .back-content-me, .back-content-sport, .back-content-creations, .back-content-culture{
    display: none;
    background: white;
    border-radius: 25px;
    z-index: 9999;
    position: fixed;
    width: 45em;
    height: 35em;
    top: 50%;
    left: 50%;
    padding: 2em;
    --webkit-transform: translate(-50%, -50%);
    --moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    --o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}

.cross-symbol{
    width: 5%;
    cursor: pointer;
    transform: rotateZ(45deg);
}

.card{
    font-family: 'Roboto', sans-serif;
}

.card h1{
    text-align: center;
    color: #1d1d1f;
    font-size: 45px;
    font-weight: bolder;
    padding: 0.1em;
    margin: 0;
}

.card p{
    padding: 1.8em 2em 1.8em 2em;
    text-align: justify;
    text-justify: inter-word;
    font-size: 21px;
    color: #86868b;
    font-weight: normal;
    margin: 0;
}

.contact{
    background: #1d1d1f;
    padding-bottom: 7em;
}

.title-contact{
    color: white;
    margin-top: 0;
    padding-top: 2em;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
}

.options-wrapper{
    justify-content: center;
    padding-top: 5em;
    padding-left: 15em;
    padding-right: 15em;
}

.first-option{
    padding-left: 2em;
    margin-right: 2em;
}

.contact-form{
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    text-align: center;
}

.separation{
    margin-left: 8em;
    margin-right: 8em;
}

.second-option{
    padding-left: 10em;
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    color: darkorange;
    text-align: left;
    margin-bottom: 2em;
}

.text-field-title{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: white;
    margin-top: 2em;
}

.text-field-title-fname{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: white;
    margin-top: 2em;
    padding-right: 10em;
}

.text-field{
    width: 10em;
    height: 1.5em;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.text-field-for-message{
    resize: none;
    width: 30em;
    height: 20em;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.submit-button{
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
    width: 3.5em;
    text-align: center;
}

.submit-button:hover{
    background: #00d959;
    color: white;
    border: 2px solid #00d959;
}

.quote::before{
    content: "";
    display: inline-block;
    padding-right: 0.15em;
    width: 16px;
    height: 27px;
    background-size: 16px 27px;
    background-repeat: no-repeat;
    background-image: url(pictures/quote_start.png);
    left: -0.15em;
    top: -0.18em;
}

.quote::after{
    content: "";
    display: inline-block;
    margin-left: 0.15em;
    width: 16px;
    height: 27px;
    background-size: 16px 27px;
    background-repeat: no-repeat;
    background-image: url(pictures/quote_end.png);
    left: -0.15em;
    top: -0.18em;
}

.h1-style{
    text-align: center;
    color: #1d1d1f;
    font-size: 45px;
    font-weight: bolder;
    padding: 0.1em;
    margin: 0;
}

.logo-separation{
    margin-left: 1em;
    margin-right: 1em;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    padding: 1em 5em 1em 5em;
    margin-top: 6em;
}

.c21{
    border-radius: 20px;
    width: 6%;
    height: 6%;
}

.nato{
    border-radius: 20px;
    width: 11%;
    height: 11%;
}

.dcu{
    border-radius: 20px;
    width: 5%;
    height: 5%;
}

.auchan{
    padding-top: 1.1em;
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

.binance{
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

.stripe{
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

.cambridge-university{
    border-radius: 20px;
    width: 15%;
    height: 15%;
    padding: 0 0 0 0;
    margin-top: 0.8em;
}

.scout{
    border-radius: 20px;
    width: 10%;
    height: 10%;
}

.triathlon{
    border-radius: 20px;
    width: 7%;
    height: 7%;
}

.ufc{
    border-radius: 20px;
    width: 10%;
    height: 10%;
    margin-top: 0.8em;
}

.bitcoin{
    border-radius: 20px;
    width: 6%;
    height: 6%;
}

.earth{
    border-radius: 20px;
    width: 6%;
    height: 6%;
}

.planet{
    border-radius: 20px;
    width: 6%;
    height: 6%;
}

.handshake{
    border-radius: 20px;
    width: 8%;
    height: 8%;
    margin-bottom: 1.5em;
}

.rocket{
    border-radius: 20px;
    width: 6%;
    height: 6%;
}

.boy-scout-relief-text, .sales-relief-text, .otan-relief-text, .trading-bot-relief-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 21px;
    color: darkorange;
    font-weight: bold;
    margin: 0;
}



